/src/ControleFinanceiro.UnitTests/bin/Debug/net7.0/es/*.dll
*.dll
*.cache
/src/ControleFinanceiro.UnitTests/bin/Debug/net7.0
net7.0
/.vs/ControleFinanceiro/FileContentIndex/*.vsidx
src/ControleFinanceiro.UnitTests/obj/
src/ControleFinanceiro.Infra/obj/
src/ControleFinanceiro.Infra.ImportarCSV/obj/
src/ControleFinanceiro.API/obj/
*.user
.vs/
/.vs
ControleFinanceiro.UnitTests/obj/
ControleFinanceiro.Domain/obj/
ControleFinanceiro.Shared/obj/
