<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b1e7f958-64b1-43fd-b4c9-215f7e6956bf/resourcegroups/InvoiceImporterAPI20231119153112ResourceGroup/providers/Microsoft.Web/sites/InvoiceImporterAPI20231119153258</ResourceId>
    <ResourceGroup>InvoiceImporterAPI20231119153112ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/b1e7f958-64b1-43fd-b4c9-215f7e6956bf/resourceGroups/InvoiceImporterAPI20231119153112ResourceGroup/providers/Microsoft.ApiManagement/service/InvoiceImporterAPIapi/apis/InvoiceImporterAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://invoiceimporterapi20231119153258.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>85bdc54e-6924-43a6-bcaa-e5ccf6dee31b</ProjectGuid>
    <PublishUrl>https://invoiceimporterapi20231119153258.scm.azurewebsites.net/</PublishUrl>
    <UserName>$InvoiceImporterAPI20231119153258</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>